In [1]:
# import data

import re
import pandas as pd
import numpy as np
import sqlite3

# read database, change path and database name if needed
conn = sqlite3.connect('final_db_2.db')
cursor = conn.cursor()
result = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

In [2]:
# find table names - match data
table_names = sorted(list(zip(*result))[0])

# create first table
test_name = table_names[0]
data = pd.read_sql("SELECT * FROM '{}'".format(test_name), conn)

# append all match stats to one table
for name in table_names[1:]:
    data_i = pd.read_sql("SELECT * FROM '{}'".format(name), conn)
    data = pd.concat([data, data_i])

In [3]:
data2 = data[['Team_name_home', 'Round_home', 'Team_name_away', 'Year_away', 'Round_away', 
                            'Results_away', 'Round_diff', 'Year_diff', 'Team_name_diff' ]]

In [4]:
data = data.drop(columns = ['Team_name_home', 'Round_home', 'Team_name_away', 'Year_away', 'Round_away', 
                            'Results_away', 'Round_diff', 'Year_diff', 'Team_name_diff' ]) 
# only need result home

In [5]:
data[data.isna().any(axis=1)]

,AVG_1_Points_home,AVG_1_Serve_number_home,AVG_1_Serve_errors_home,AVG_1_Serve_aces_home,AVG_1_Serve_%_effic_home,AVG_1_Rec_number_home,AVG_1_Rec_errors_home,AVG_1_Rec_%_pos_home,AVG_1_Rec_%_perf_home,AVG_1_Atack_number_home,...,Last_3_Points_lost_diff,Last_5_Points_diff,Last_5_Matches_won_diff,Last_5_Matches_lost_diff,Last_5_Sets_won_diff,Last_5_Sets_lost_diff,Last_5_Points_won_diff,Last_5_Points_lost_diff,%_points_poss_home,%_points_poss_away
687,55.0,76.0,13.0,4.0,-0.12,45.0,5.0,55.0,31.0,69.0,...,-12.0,3.0,1.0,-1.0,3.0,-3.0,24.0,-12.0,0.50,0.00
695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-25.0,4.0,2.0,-2.0,4.0,-4.0,15.0,-25.0,0.56,0.11
916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,-3.0,-1.0,1.0,-3.0,3.0,-14.0,17.0,0.00,0.50
921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,-3.0,-1.0,1.0,-3.0,3.0,-20.0,17.0,0.00,0.50
925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,-3.0,-1.0,1.0,-3.0,3.0,-13.0,6.0,0.33,0.67
1152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-88.0,-3.0,-1.0,0.0,-3.0,-1.0,-98.0,-88.0,0.00,0.50
1298,69.0,104.0,16.0,3.0,-0.12,81.0,5.0,49.0,25.0,108.0,...,8.0,1.0,0.0,0.0,1.0,0.0,13.0,8.0,0.17,0.00
1304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.0,3.0,1.0,-1.0,2.0,-2.0,9.0,-3.0,0.50,0.00
1459,72.0,107.0,26.0,8.0,-14.00,76.0,5.0,47.0,19.0,103.0,...,-13.0,1.0,1.0,-1.0,1.0,-1.0,-8.0,-13.0,0.33,0.17
1460,85.0,104.0,19.0,9.0,-4.00,97.0,6.0,40.0,13.0,136.0,...,-7.0,0.0,0.0,0.0,0.0,0.0,-9.0,-7.0,0.33,0.33

In [6]:
data = data.dropna()
# check missing values for each of the variables
data.isnull().sum()

AVG_1_Points_home           0
AVG_1_Serve_number_home     0
AVG_1_Serve_errors_home     0
AVG_1_Serve_aces_home       0
AVG_1_Serve_%_effic_home    0
                           ..
Last_5_Sets_lost_diff       0
Last_5_Points_won_diff      0
Last_5_Points_lost_diff     0
%_points_poss_home          0
%_points_poss_away          0
Length: 278, dtype: int64

In [7]:
data.head()

,AVG_1_Points_home,AVG_1_Serve_number_home,AVG_1_Serve_errors_home,AVG_1_Serve_aces_home,AVG_1_Serve_%_effic_home,AVG_1_Rec_number_home,AVG_1_Rec_errors_home,AVG_1_Rec_%_pos_home,AVG_1_Rec_%_perf_home,AVG_1_Atack_number_home,...,Last_3_Points_lost_diff,Last_5_Points_diff,Last_5_Matches_won_diff,Last_5_Matches_lost_diff,Last_5_Sets_won_diff,Last_5_Sets_lost_diff,Last_5_Points_won_diff,Last_5_Points_lost_diff,%_points_poss_home,%_points_poss_away
0,56.0,85.0,17.0,0.0,-0.20,87.0,7.0,55.0,28.0,115.0,...,32.0,-2.0,-1.0,1.0,0.0,2.0,37.0,32.0,0.11,0.33
1,33.0,55.0,10.0,3.0,-0.13,55.0,5.0,61.0,27.0,68.0,...,-26.0,-2.0,-1.0,1.0,-3.0,1.0,-49.0,-26.0,0.00,0.33
2,33.0,55.0,14.0,2.0,-0.22,58.0,5.0,44.0,22.0,72.0,...,-28.0,-1.0,0.0,0.0,-2.0,0.0,-47.0,-28.0,0.00,0.17
3,71.0,106.0,15.0,5.0,-0.09,87.0,2.0,70.0,43.0,138.0,...,60.0,-2.0,-1.0,1.0,-1.0,3.0,32.0,60.0,0.17,0.50
4,71.0,93.0,18.0,10.0,-0.09,81.0,3.0,56.0,38.0,117.0,...,-14.0,1.0,0.0,0.0,0.0,-1.0,-20.0,-14.0,0.50,0.33

In [8]:
# define columns' names
new_col2 = ['AVG_1_Points_home',
 'AVG_1_Serve_number_home',
 'AVG_1_Serve_errors_home',
 'AVG_1_Serve_aces_home',
 'AVG_1_Serve_%_effic_home',
 'AVG_1_Rec_number_home',
 'AVG_1_Rec_errors_home',
 'AVG_1_Rec_%_pos_home',
 'AVG_1_Rec_%_perf_home',
 'AVG_1_Atack_number_home',
 'AVG_1_Atack_error_home',
 'AVG_1_Atack_blocked_home',
 'AVG_1_Atack_%_eff_home',
 'AVG_1_Block_points_home',
 'AVG_1_Points_net_home',
 'AVG_3_Points_home',
 'AVG_3_Serve_number_home',
 'AVG_3_Serve_errors_home',
 'AVG_3_Serve_aces_home',
 'AVG_3_Serve_%_effic_home',
 'AVG_3_Rec_number_home',
 'AVG_3_Rec_errors_home',
 'AVG_3_Rec_%_pos_home',
 'AVG_3_Rec_%_perf_home',
 'AVG_3_Atack_number_home',
 'AVG_3_Atack_error_home',
 'AVG_3_Atack_blocked_home',
 'AVG_3_Atack_%_eff_home',
 'AVG_3_Block_points_home',
 'AVG_3_Points_net_home',
 'AVG_5_Points_home',
 'AVG_5_Serve_number_home',
 'AVG_5_Serve_errors_home',
 'AVG_5_Serve_aces_home',
 'AVG_5_Serve_%_effic_home',
 'AVG_5_Rec_number_home',
 'AVG_5_Rec_errors_home',
 'AVG_5_Rec_%_pos_home',
 'AVG_5_Rec_%_perf_home',
 'AVG_5_Atack_number_home',
 'AVG_5_Atack_error_home',
 'AVG_5_Atack_blocked_home',
 'AVG_5_Atack_%_eff_home',
 'AVG_5_Block_points_home',
 'AVG_5_Points_net_home',
 'Height_avg_home',
 'Weight_avg_home',
 'Range_avg_home',
 'Opposite_Height_home',
 'Libero_Height_home',
 'Outside_Height_home',
 'Setter_Height_home',
 'Middle_Height_home',
 'Opposite_Weight_home',
 'Libero_Weight_home',
 'Outside_Weight_home',
 'Setter_Weight_home',
 'Middle_Weight_home',
 'Opposite_Range_home',
 'Libero_Range_home',
 'Outside_Range_home',
 'Setter_Range_home',
 'Middle_Range_home',
 'Points_home',
 'Matches_won_home',
 'Matches_lost_home',
 'Sets_won_home',
 'Sets_lost_home',
 'Points_won_home',
 'Points_lost_home',
 'Last_1_Points_home',
 'Last_1_Matches_won_home',
 'Last_1_Matches_lost_home',
 'Last_1_Sets_won_home',
 'Last_1_Sets_lost_home',
 'Last_1_Points_won_home',
 'Last_1_Points_lost_home',
 'Last_3_Points_home',
 'Last_3_Matches_won_home',
 'Last_3_Matches_lost_home',
 'Last_3_Sets_won_home',
 'Last_3_Sets_lost_home',
 'Last_3_Points_won_home',
 'Last_3_Points_lost_home',
 'Last_5_Points_home',
 'Last_5_Matches_won_home',
 'Last_5_Matches_lost_home',
 'Last_5_Sets_won_home',
 'Last_5_Sets_lost_home',
 'Last_5_Points_won_home',
 'Last_5_Points_lost_home',
 'ID',
 'Year_home',
 'Results_home',
 'AVG_1_Points_away',
 'AVG_1_Serve_number_away',
 'AVG_1_Serve_errors_away',
 'AVG_1_Serve_aces_away',
 'AVG_1_Serve_%_effic_away',
 'AVG_1_Rec_number_away',
 'AVG_1_Rec_errors_away',
 'AVG_1_Rec_%_pos_away',
 'AVG_1_Rec_%_perf_away',
 'AVG_1_Atack_number_away',
 'AVG_1_Atack_error_away',
 'AVG_1_Atack_blocked_away',
 'AVG_1_Atack_%_eff_away',
 'AVG_1_Block_points_away',
 'AVG_1_Points_net_away',
 'AVG_3_Points_away',
 'AVG_3_Serve_number_away',
 'AVG_3_Serve_errors_away',
 'AVG_3_Serve_aces_away',
 'AVG_3_Serve_%_effic_away',
 'AVG_3_Rec_number_away',
 'AVG_3_Rec_errors_away',
 'AVG_3_Rec_%_pos_away',
 'AVG_3_Rec_%_perf_away',
 'AVG_3_Atack_number_away',
 'AVG_3_Atack_error_away',
 'AVG_3_Atack_blocked_away',
 'AVG_3_Atack_%_eff_away',
 'AVG_3_Block_points_away',
 'AVG_3_Points_net_away',
 'AVG_5_Points_away',
 'AVG_5_Serve_number_away',
 'AVG_5_Serve_errors_away',
 'AVG_5_Serve_aces_away',
 'AVG_5_Serve_%_effic_away',
 'AVG_5_Rec_number_away',
 'AVG_5_Rec_errors_away',
 'AVG_5_Rec_%_pos_away',
 'AVG_5_Rec_%_perf_away',
 'AVG_5_Atack_number_away',
 'AVG_5_Atack_error_away',
 'AVG_5_Atack_blocked_away',
 'AVG_5_Atack_%_eff_away',
 'AVG_5_Block_points_away',
 'AVG_5_Points_net_away',
 'Height_avg_away',
 'Weight_avg_away',
 'Range_avg_away',
 'Opposite_Height_away',
 'Libero_Height_away',
 'Outside_Height_away',
 'Setter_Height_away',
 'Middle_Height_away',
 'Opposite_Weight_away',
 'Libero_Weight_away',
 'Outside_Weight_away',
 'Setter_Weight_away',
 'Middle_Weight_away',
 'Opposite_Range_away',
 'Libero_Range_away',
 'Outside_Range_away',
 'Setter_Range_away',
 'Middle_Range_away',
 'Points_away',
 'Matches_won_away',
 'Matches_lost_away',
 'Sets_won_away',
 'Sets_lost_away',
 'Points_won_away',
 'Points_lost_away',
 'Last_1_Points_away',
 'Last_1_Matches_won_away',
 'Last_1_Matches_lost_away',
 'Last_1_Sets_won_away',
 'Last_1_Sets_lost_away',
 'Last_1_Points_won_away',
 'Last_1_Points_lost_away',
 'Last_3_Points_away',
 'Last_3_Matches_won_away',
 'Last_3_Matches_lost_away',
 'Last_3_Sets_won_away',
 'Last_3_Sets_lost_away',
 'Last_3_Points_won_away',
 'Last_3_Points_lost_away',
 'Last_5_Points_away',
 'Last_5_Matches_won_away',
 'Last_5_Matches_lost_away',
 'Last_5_Sets_won_away',
 'Last_5_Sets_lost_away',
 'Last_5_Points_won_away',
 'Last_5_Points_lost_away',
 'AVG_1_Points_diff',
 'AVG_1_Serve_number_diff',
 'AVG_1_Serve_errors_diff',
 'AVG_1_Serve_aces_diff',
 'AVG_1_Serve_%_effic_diff',
 'AVG_1_Rec_number_diff',
 'AVG_1_Rec_errors_diff',
 'AVG_1_Rec_%_pos_diff',
 'AVG_1_Rec_%_perf_diff',
 'AVG_1_Atack_number_diff',
 'AVG_1_Atack_error_diff',
 'AVG_1_Atack_blocked_diff',
 'AVG_1_Atack_%_eff_diff',
 'AVG_1_Block_points_diff',
 'AVG_1_Points_net_diff',
 'AVG_3_Points_diff',
 'AVG_3_Serve_number_diff',
 'AVG_3_Serve_errors_diff',
 'AVG_3_Serve_aces_diff',
 'AVG_3_Serve_%_effic_diff',
 'AVG_3_Rec_number_diff',
 'AVG_3_Rec_errors_diff',
 'AVG_3_Rec_%_pos_diff',
 'AVG_3_Rec_%_perf_diff',
 'AVG_3_Atack_number_diff',
 'AVG_3_Atack_error_diff',
 'AVG_3_Atack_blocked_diff',
 'AVG_3_Atack_%_eff_diff',
 'AVG_3_Block_points_diff',
 'AVG_3_Points_net_diff',
 'AVG_5_Points_diff',
 'AVG_5_Serve_number_diff',
 'AVG_5_Serve_errors_diff',
 'AVG_5_Serve_aces_diff',
 'AVG_5_Serve_%_effic_diff',
 'AVG_5_Rec_number_diff',
 'AVG_5_Rec_errors_diff',
 'AVG_5_Rec_%_pos_diff',
 'AVG_5_Rec_%_perf_diff',
 'AVG_5_Atack_number_diff',
 'AVG_5_Atack_error_diff',
 'AVG_5_Atack_blocked_diff',
 'AVG_5_Atack_%_eff_diff',
 'AVG_5_Block_points_diff',
 'AVG_5_Points_net_diff',
 'Height_avg_diff',
 'Weight_avg_diff',
 'Range_avg_diff',
 'Opposite_Height_diff',
 'Libero_Height_diff',
 'Outside_Height_diff',
 'Setter_Height_diff',
 'Middle_Height_diff',
 'Opposite_Weight_diff',
 'Libero_Weight_diff',
 'Outside_Weight_diff',
 'Setter_Weight_diff',
 'Middle_Weight_diff',
 'Opposite_Range_diff',
 'Libero_Range_diff',
 'Outside_Range_diff',
 'Setter_Range_diff',
 'Middle_Range_diff',
 'Points_diff',
 'Matches_won_diff',
 'Matches_lost_diff',
 'Sets_won_diff',
 'Sets_lost_diff',
 'Points_won_diff',
 'Points_lost_diff',
 'Last_1_Points_diff',
 'Last_1_Matches_won_diff',
 'Last_1_Matches_lost_diff',
 'Last_1_Sets_won_diff',
 'Last_1_Sets_lost_diff',
 'Last_1_Points_won_diff',
 'Last_1_Points_lost_diff',
 'Last_3_Points_diff',
 'Last_3_Matches_won_diff',
 'Last_3_Matches_lost_diff',
 'Last_3_Sets_won_diff',
 'Last_3_Sets_lost_diff',
 'Last_3_Points_won_diff',
 'Last_3_Points_lost_diff',
 'Last_5_Points_diff',
 'Last_5_Matches_won_diff',
 'Last_5_Matches_lost_diff',
 'Last_5_Sets_won_diff',
 'Last_5_Sets_lost_diff',
 'Last_5_Points_won_diff',
 'Last_5_Points_lost_diff',
 '%_points_poss_home',
 '%_points_poss_away',
 '%_points_poss_diff']

In [9]:
data['%_points_poss_diff'] = data['%_points_poss_home'] - data['%_points_poss_away']

In [10]:
data.columns = new_col2

In [11]:
# define column with the result
df1 = data.pop('Results_home') 
data['Result']=df1

In [12]:
in_sample = data[data['Year_home'].isin(['2020/2021', '2019/2020', '2018/2019', '2017/2018', '2016/2017', '2015/2016', '2014/2015', '2013/2014', 
        '2012/2013', '2011/2012', '2010/2011'])]

In [13]:
labels = in_sample.pop('Result')

In [14]:
in_sample = in_sample.drop(columns=['ID', 'Year_home'])

In [15]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(in_sample, labels, test_size = 0.3, random_state = 30)

In [16]:
out_of_time = data[data['Year_home'] == ('2021/2022')]

In [17]:
y_oot = out_of_time['Result']

In [18]:
X_oot = out_of_time.drop(columns=['ID', 'Result', 'Year_home'])

In [19]:
print(y_train.value_counts(normalize=True))  
print(y_test.value_counts(normalize=True))
print(y_oot.value_counts(normalize=True))

1.0    0.53257
0.0    0.46743
Name: Result, dtype: float64
1.0    0.561475
0.0    0.438525
Name: Result, dtype: float64
1.0    0.525714
0.0    0.474286
Name: Result, dtype: float64

In [20]:
data2 = data2[data2['Year_away'] == ('2021/2022')]

In [21]:
data2 = data2.drop(columns = ['Year_away', 'Round_away', 
                            'Results_away', 'Round_diff', 'Year_diff', 'Team_name_diff'  ])

In [22]:
print(data2.to_string())

     Team_name_home  Round_home Team_name_away
1634        Suwałki           2         Lublin
1635         Gdańsk           2         Aluron
1636            GKS           2         Asseco
1637           Skra           2       Indykpol
1638         Warsza           2          Lubin
1639         Czarni           2          ZAKSA
1640         Węgiel           2           Nysa
1641          ZAKSA           3         Lublin
1642         Warsza           3         Węgiel
1643           Skra           3           Nysa
1644         Asseco           3         Czarni
1645         Gdańsk           3          Lubin
1646        Suwałki           3       Indykpol
1647         Aluron           3            GKS
1648         Lublin           4            GKS
1649       Indykpol           4         Aluron
1650          Lubin           4        Suwałki
1651         Czarni           4         Gdańsk
1652           Nysa           4         Asseco
1653         Węgiel           4           Skra
1654          ZAKSA           4         Warsza
1655         Warsza           5         Lublin
1656           Skra           5          ZAKSA
1657         Asseco           5         Węgiel
1658         Gdańsk           5           Nysa
1659        Suwałki           5         Czarni
1660         Aluron           5          Lubin
1661            GKS           5       Indykpol
1662         Lublin           6       Indykpol
1663          Lubin           6            GKS
1664         Czarni           6         Aluron
1665           Nysa           6        Suwałki
1666         Węgiel           6         Gdańsk
1667          ZAKSA           6         Asseco
1668         Warsza           6           Skra
1669           Skra           7         Lublin
1670         Asseco           7         Warsza
1671         Gdańsk           7          ZAKSA
1672        Suwałki           7         Węgiel
1673         Aluron           7           Nysa
1674            GKS           7         Czarni
1675       Indykpol           7          Lubin
1676           Skra           8         Asseco
1677         Lublin           8          Lubin
1678         Czarni           8       Indykpol
1679           Nysa           8            GKS
1680         Węgiel           8         Aluron
1681          ZAKSA           8        Suwałki
1682         Warsza           8         Gdańsk
1683         Asseco           9         Lublin
1684         Gdańsk           9           Skra
1685        Suwałki           9         Warsza
1686         Aluron           9          ZAKSA
1687            GKS           9         Węgiel
1688       Indykpol           9           Nysa
1689          Lubin           9         Czarni
1690         Lublin          10         Czarni
1691           Nysa          10          Lubin
1692       Indykpol          10         Węgiel
1693          ZAKSA          10            GKS
1694         Warsza          10         Aluron
1695           Skra          10        Suwałki
1696         Asseco          10         Gdańsk
1697         Gdańsk          11         Lublin
1698        Suwałki          11         Asseco
1699         Aluron          11           Skra
1700            GKS          11         Warsza
1701          ZAKSA          11       Indykpol
1702          Lubin          11         Węgiel
1703         Czarni          11           Nysa
1704         Lublin          12           Nysa
1705         Węgiel          12         Czarni
1706          ZAKSA          12          Lubin
1707         Warsza          12       Indykpol
1708           Skra          12            GKS
1709         Asseco          12         Aluron
1710         Gdańsk          12        Suwałki
1711         Lublin          13         Aluron
1712            GKS          13        Suwałki
1713       Indykpol          13         Gdańsk
1714          Lubin          13         Asseco
1715         Czarni          13           Skra
1716           Nysa          13         Warsza
1717          ZAKSA          13         Węgiel
1718         Węgiel          14         Lublin
1719          ZAKSA          14           Nysa
1720         Warsza          14         Czarni
1721           Skra          14          Lubin
1722         Asseco          14       Indykpol
1723         Gdańsk          14            GKS
1724        Suwałki          14         Aluron
1725         Lublin          15        Suwałki
1726         Aluron          15         Gdańsk
1727         Asseco          15            GKS
1728       Indykpol          15           Skra
1729          Lubin          15         Warsza
1730          ZAKSA          15         Czarni
1731           Nysa          15         Węgiel
1732         Lublin          16          ZAKSA
1733         Węgiel          16         Warsza
1734           Nysa          16           Skra
1735         Czarni          16         Asseco
1736          Lubin          16         Gdańsk
1737       Indykpol          16        Suwałki
1738            GKS          16         Aluron
1739            GKS          17         Lublin
1740         Aluron          17       Indykpol
1741        Suwałki          17          Lubin
1742         Gdańsk          17         Czarni
1743         Asseco          17           Nysa
1744           Skra          17         Węgiel
1745         Warsza          17          ZAKSA
1746         Lublin          18         Warsza
1747          ZAKSA          18           Skra
1748         Węgiel          18         Asseco
1749       Indykpol          18            GKS
1750           Nysa          18         Gdańsk
1751         Czarni          18        Suwałki
1752          Lubin          18         Aluron
1753       Indykpol          19         Lublin
1754            GKS          19          Lubin
1755         Aluron          19         Czarni
1756        Suwałki          19           Nysa
1757         Gdańsk          19         Węgiel
1758         Asseco          19          ZAKSA
1759           Skra          19         Warsza
1760         Lublin          20           Skra
1761         Warsza          20         Asseco
1762          ZAKSA          20         Gdańsk
1763         Węgiel          20        Suwałki
1764           Nysa          20         Aluron
1765         Czarni          20            GKS
1766          Lubin          20       Indykpol
1767          Lubin          21         Lublin
1768       Indykpol          21         Czarni
1769            GKS          21           Nysa
1770         Aluron          21         Węgiel
1771        Suwałki          21          ZAKSA
1772         Gdańsk          21         Warsza
1773         Asseco          21           Skra
1774         Lublin          22         Asseco
1775           Skra          22         Gdańsk
1776         Warsza          22        Suwałki
1777          ZAKSA          22         Aluron
1778         Węgiel          22            GKS
1779           Nysa          22       Indykpol
1780         Czarni          22          Lubin
1781         Czarni          23         Lublin
1782          Lubin          23           Nysa
1783         Węgiel          23       Indykpol
1784            GKS          23          ZAKSA
1785         Aluron          23         Warsza
1786        Suwałki          23           Skra
1787         Gdańsk          23         Asseco
1788         Lublin          24         Gdańsk
1789         Asseco          24        Suwałki
1790           Skra          24         Aluron
1791         Warsza          24            GKS
1792       Indykpol          24          ZAKSA
1793         Węgiel          24          Lubin
1794           Nysa          24         Czarni
1795           Nysa          25         Lublin
1796         Czarni          25         Węgiel
1797          Lubin          25          ZAKSA
1798       Indykpol          25         Warsza
1799            GKS          25           Skra
1800         Aluron          25         Asseco
1801        Suwałki          25         Gdańsk
1802         Aluron          26         Lublin
1803        Suwałki          26            GKS
1804         Gdańsk          26       Indykpol
1805         Asseco          26          Lubin
1806           Skra          26         Czarni
1807         Warsza          26           Nysa
1808         Węgiel          26          ZAKSA

In [23]:
data2.to_csv('bets2_raw.csv')

### Read data

In [24]:
bets = pd.read_csv('bets2.csv', sep = ';')

In [25]:
bets

     Unnamed: 0 Team_name_home  Round_home Team_name_away  Home  Away
0          1634        Suwałki           2         Lublin  1.22  4.02
1          1635         Gdańsk           2         Aluron  2.60  1.50
2          1636            GKS           2         Asseco  6.35  1.12
3          1637           Skra           2       Indykpol  1.20  4.60
4          1638         Warsza           2          Lubin  1.10  7.10
..          ...            ...         ...            ...   ...   ...
170        1804         Gdańsk          26       Indykpol  1.32  3.40
171        1805         Asseco          26          Lubin  1.07  8.50
172        1806           Skra          26         Czarni  1.15  5.55
173        1807         Warsza          26           Nysa  1.45  2.80
174        1808         Węgiel          26          ZAKSA  3.55  1.30

[175 rows x 6 columns]

### Generate predictions

In [26]:
# import XGBClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

In [27]:
# define parameters
param_tuning = {
        'learning_rate': [0.01, 0.05, 0.1, 0.3],
        'max_depth': [3, 5, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.1, 0.3, 0.5],
        'colsample_bytree': [0.5],
        'n_estimators' : [100, 200, 500, 1000],
        'objective': ['binary:logistic']
    }

In [28]:
# final model
xgb_model = XGBClassifier(colsample_bytree=0.5,learning_rate=0.01, max_depth= 5, min_child_weight=1,
 n_estimators=200, objective='binary:logistic', subsample= 0.1)
xgb_model.fit(X_train, y_train, verbose=True)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.01, max_bin=256,
              max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
              max_depth=5, max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=200, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [29]:
# calculate predictions
y_train_pred = xgb_model.predict_proba(X_train)[:,1]
y_test_pred = xgb_model.predict_proba(X_test)[:,1]

In [30]:
# print scores on training and testing set
print('Training set accuracy: {:.4f}'.format(xgb_model.score(X_train, y_train)))
print('Test set accuracy: {:.4f}'.format(xgb_model.score(X_test, y_test)))
print('Training set AUC: {:.4f}'.format(roc_auc_score(y_train, y_train_pred)))
print('Test set AUC: {:.4f}'.format(roc_auc_score(y_test, y_test_pred)))

Training set accuracy: 0.7676
Test set accuracy: 0.7295
Training set AUC: 0.8575
Test set AUC: 0.7837

In [31]:
y_oot_pred = xgb_model.predict_proba(X_oot)[:,1]
y_oot_pred

array([0.5088642 , 0.35181418, 0.42423868, 0.6464298 , 0.6259557 ,
       0.35140508, 0.7161068 , 0.55772674, 0.53454626, 0.7306953 ,
       0.5575803 , 0.54055107, 0.6281596 , 0.46947998, 0.32759386,
       0.2818804 , 0.36428532, 0.33338842, 0.26268578, 0.5024952 ,
       0.58415604, 0.71441835, 0.45289382, 0.49543417, 0.6878557 ,
       0.48993257, 0.61338526, 0.3099706 , 0.25104254, 0.5450944 ,
       0.3551606 , 0.44442588, 0.6868765 , 0.6011165 , 0.6283863 ,
       0.73264396, 0.31472084, 0.23222844, 0.2387286 , 0.7882571 ,
       0.35241833, 0.63330793, 0.5154328 , 0.50182515, 0.22101223,
       0.36225042, 0.4959523 , 0.7230854 , 0.70320624, 0.58610815,
       0.30548206, 0.22574008, 0.33498523, 0.33127987, 0.794855  ,
       0.5901758 , 0.70903397, 0.37758145, 0.5433472 , 0.6762007 ,
       0.60971916, 0.81364244, 0.7736835 , 0.34780774, 0.26627174,
       0.33699882, 0.20955469, 0.61095774, 0.2962076 , 0.60664463,
       0.7527304 , 0.59250957, 0.6629587 , 0.6376792 , 0.7878203 ,
       0.6046097 , 0.65239275, 0.3831771 , 0.6171838 , 0.6202371 ,
       0.39920256, 0.25328454, 0.25244817, 0.5981689 , 0.64660406,
       0.74495167, 0.73163545, 0.7994036 , 0.5324391 , 0.6411521 ,
       0.30052498, 0.6025847 , 0.8264204 , 0.7322206 , 0.28201547,
       0.34864542, 0.701665  , 0.32726833, 0.24205256, 0.6294513 ,
       0.29860267, 0.258144  , 0.51042587, 0.60430425, 0.2707379 ,
       0.6095435 , 0.69107836, 0.44479743, 0.43023452, 0.8300581 ,
       0.5882195 , 0.39083803, 0.32409078, 0.5786602 , 0.57026976,
       0.6220983 , 0.2938873 , 0.40671486, 0.32823718, 0.6724051 ,
       0.6659248 , 0.7435503 , 0.76511693, 0.35443312, 0.3310128 ,
       0.7017483 , 0.37152448, 0.5080526 , 0.766875  , 0.68458235,
       0.24401917, 0.42609265, 0.283625  , 0.50171566, 0.77420384,
       0.810344  , 0.32404497, 0.33772984, 0.4476649 , 0.3576111 ,
       0.2952016 , 0.72031796, 0.58603096, 0.71944267, 0.67698675,
       0.2932372 , 0.48040977, 0.5040354 , 0.6509988 , 0.6952011 ,
       0.2865252 , 0.642072  , 0.34032783, 0.32457268, 0.45409796,
       0.76324517, 0.7371269 , 0.64056134, 0.27540028, 0.73131627,
       0.44149533, 0.43635404, 0.24312776, 0.33476862, 0.4460332 ,
       0.3167549 , 0.59921896, 0.41726404, 0.7068608 , 0.44216883,
       0.48230383, 0.70582384, 0.7764384 , 0.5476308 , 0.6114699 ],
      dtype=float32)

In [32]:
print('Out of time accuracy: {:.4f}'.format(xgb_model.score(X_oot, y_oot)))
print('Out of time set AUC: {:.4f}'.format(roc_auc_score(y_oot, y_oot_pred)))

Out of time accuracy: 0.7257
Out of time set AUC: 0.7575

In [33]:
predictions_test = xgb_model.predict(X_test)

In [34]:
predictions_oot = xgb_model.predict(X_oot)
predictions_oot = pd.Series(predictions_oot)
predictions_oot

0      1
1      0
2      0
3      1
4      1
      ..
170    0
171    1
172    1
173    1
174    1
Length: 175, dtype: int32

In [35]:
y_oot

1634    1.0
1635    0.0
1636    1.0
1637    1.0
1638    1.0
       ...
1804    1.0
1805    1.0
1806    1.0
1807    0.0
1808    0.0
Name: Result, Length: 175, dtype: float64

### Betting on all matches

In [36]:
bets['amount'] = [z if x == y and x==1 else v if x == y and x==0 else 0 for x,y,z,v  in zip(predictions_oot,y_oot,bets['Home'], bets['Away'])]

In [37]:
bets

     Unnamed: 0 Team_name_home  Round_home Team_name_away  Home  Away  amount
0          1634        Suwałki           2         Lublin  1.22  4.02    1.22
1          1635         Gdańsk           2         Aluron  2.60  1.50    1.50
2          1636            GKS           2         Asseco  6.35  1.12    0.00
3          1637           Skra           2       Indykpol  1.20  4.60    1.20
4          1638         Warsza           2          Lubin  1.10  7.10    1.10
..          ...            ...         ...            ...   ...   ...     ...
170        1804         Gdańsk          26       Indykpol  1.32  3.40    0.00
171        1805         Asseco          26          Lubin  1.07  8.50    1.07
172        1806           Skra          26         Czarni  1.15  5.55    1.15
173        1807         Warsza          26           Nysa  1.45  2.80    0.00
174        1808         Węgiel          26          ZAKSA  3.55  1.30    0.00

[175 rows x 7 columns]

In [38]:
# betting 100 for each of the 175 matches
win_amount = (bets['amount']*100).sum() - 175*100
win_amount

-307.0

### Betting on all matches with optimal treshhold

In [39]:
predictions_dif_tresh = (xgb_model.predict_proba(X_oot)[:,1] >= 0.5183887).astype(bool) # set threshold as 0.3
predictions_dif_tresh = predictions_dif_tresh*1
predictions_dif_tresh = pd.Series(predictions_dif_tresh)
predictions_dif_tresh

0      0
1      0
2      0
3      1
4      1
      ..
170    0
171    1
172    1
173    1
174    1
Length: 175, dtype: int32

In [40]:
y_oot

1634    1.0
1635    0.0
1636    1.0
1637    1.0
1638    1.0
       ...
1804    1.0
1805    1.0
1806    1.0
1807    0.0
1808    0.0
Name: Result, Length: 175, dtype: float64

In [41]:
bets['amount_tres'] = [z if all([x == y, x==1]) else v if all([x == y, x==0]) else 0 for x,y,z,v  in zip(predictions_dif_tresh,y_oot,bets['Home'], bets['Away'])]

In [42]:
bets

,Unnamed: 0,Team_name_home,Round_home,Team_name_away,Home,Away,amount,amount_tres
0,1634,Suwałki,2,Lublin,1.22,4.02,1.22,0.00
1,1635,Gdańsk,2,Aluron,2.60,1.50,1.50,1.50
2,1636,GKS,2,Asseco,6.35,1.12,0.00,0.00
3,1637,Skra,2,Indykpol,1.20,4.60,1.20,1.20
4,1638,Warsza,2,Lubin,1.10,7.10,1.10,1.10
...,...,...,...,...,...,...,...,...
170,1804,Gdańsk,26,Indykpol,1.32,3.40,0.00,0.00
171,1805,Asseco,26,Lubin,1.07,8.50,1.07,1.07
172,1806,Skra,26,Czarni,1.15,5.55,1.15,1.15
173,1807,Warsza,26,Nysa,1.45,2.80,0.00,0.00
174,1808,Węgiel,26,ZAKSA,3.55,1.30,0.00,0.00

In [43]:
# betting 100 for each of the 175 matches
win_amount_tres = (bets['amount_tres']*100).sum() - 175*100
win_amount_tres

-915.0

### Quantiles set as treshholds

In [44]:
bets['Tresh_chosen'] = [1 if ((x >= np.quantile(xgb_model.predict_proba(X_oot)[:,1], 0.9)) | (x <= np.quantile(xgb_model.predict_proba(X_oot)[:,1], 0.1))) else 0 for x in xgb_model.predict_proba(X_oot)[:,1]]
bets['Tresh_chosen']

0      0
1      0
2      0
3      0
4      0
      ..
170    0
171    0
172    1
173    0
174    0
Name: Tresh_chosen, Length: 175, dtype: int64

In [45]:
# betting 100 for each of the 175 matches
win_amount_tres_chosen = sum([100*x if y==1 else 0 for x,y in zip(bets['amount'],bets['Tresh_chosen'])]) - bets['Tresh_chosen'].sum()*100
win_amount_tres_chosen

-328.0

In [46]:
bets['Tresh_chosen'] = [x if ((x >= np.quantile(xgb_model.predict_proba(X_oot)[:,1], 0.9)) | (x <= np.quantile(xgb_model.predict_proba(X_oot)[:,1], 0.1))) else 0 for x in xgb_model.predict_proba(X_oot)[:,1]]
bets['Tresh_chosen']

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
         ...
170    0.000000
171    0.000000
172    0.776438
173    0.000000
174    0.000000
Name: Tresh_chosen, Length: 175, dtype: float64

In [47]:
# betting 100 for each of the 175 matches
win_amount_tres_chosen = sum([100*x*y - 100 if y>0 else 0 for x,y in zip(bets['amount'],bets['Tresh_chosen'])]) 
win_amount_tres_chosen

-2044.464430898428

### Betting different amounts in range 0-100 based on probability calculated

In [48]:
bets['Exact_proba'] = [h if x==y else a for x,y,h,a in zip(bets['amount'],bets['Home'], xgb_model.predict_proba(X_oot)[:,1], xgb_model.predict_proba(X_oot)[:,0])]

In [50]:
# betting 100 for each of the 175 matches
win_amount_tres_chosen = sum([100*x*y - 100*y for x,y in zip(bets['amount'],bets['Exact_proba'])]) 
win_amount_tres_chosen

435.1487532258034

In [49]:
bets

,Unnamed: 0,Team_name_home,Round_home,Team_name_away,Home,Away,amount,amount_tres,Tresh_chosen,Exact_proba
0,1634,Suwałki,2,Lublin,1.22,4.02,1.22,0.00,0.000000,0.508864
1,1635,Gdańsk,2,Aluron,2.60,1.50,1.50,1.50,0.000000,0.648186
2,1636,GKS,2,Asseco,6.35,1.12,0.00,0.00,0.000000,0.575761
3,1637,Skra,2,Indykpol,1.20,4.60,1.20,1.20,0.000000,0.646430
4,1638,Warsza,2,Lubin,1.10,7.10,1.10,1.10,0.000000,0.625956
...,...,...,...,...,...,...,...,...,...,...
170,1804,Gdańsk,26,Indykpol,1.32,3.40,0.00,0.00,0.000000,0.517696
171,1805,Asseco,26,Lubin,1.07,8.50,1.07,1.07,0.000000,0.705824
172,1806,Skra,26,Czarni,1.15,5.55,1.15,1.15,0.776438,0.776438
173,1807,Warsza,26,Nysa,1.45,2.80,0.00,0.00,0.000000,0.452369
174,1808,Węgiel,26,ZAKSA,3.55,1.30,0.00,0.00,0.000000,0.388530

### Betting only if odds are low

In [60]:
bets

,Unnamed: 0,Team_name_home,Round_home,Team_name_away,Home,Away,amount,amount_tres,Tresh_chosen,Exact_proba
0,1634,Suwałki,2,Lublin,1.22,4.02,1.22,0.00,0.000000,0.508864
1,1635,Gdańsk,2,Aluron,2.60,1.50,1.50,1.50,0.000000,0.648186
2,1636,GKS,2,Asseco,6.35,1.12,0.00,0.00,0.000000,0.575761
3,1637,Skra,2,Indykpol,1.20,4.60,1.20,1.20,0.000000,0.646430
4,1638,Warsza,2,Lubin,1.10,7.10,1.10,1.10,0.000000,0.625956
...,...,...,...,...,...,...,...,...,...,...
170,1804,Gdańsk,26,Indykpol,1.32,3.40,0.00,0.00,0.000000,0.517696
171,1805,Asseco,26,Lubin,1.07,8.50,1.07,1.07,0.000000,0.705824
172,1806,Skra,26,Czarni,1.15,5.55,1.15,1.15,0.776438,0.776438
173,1807,Warsza,26,Nysa,1.45,2.80,0.00,0.00,0.000000,0.452369
174,1808,Węgiel,26,ZAKSA,3.55,1.30,0.00,0.00,0.000000,0.388530